.features img {
  width: 100px
}

.features h3 {
  margin: 0;
  font-weight: bolder;
  padding-bottom: 10px;
}

.features p {
  margin-bottom: 30px;
  letter-spacing: 5px;
  font-style: oblique;
  color: grey;
}

.features {
  margin: 100px 0;
}
