.features {
  margin: 100px 0;
  p {
    margin-bottom: 30px;
    letter-spacing: 5px;
    font-style: oblique;
    color: grey;
  }
  h3 {
    margin: 0;
    font-weight: bolder;
    padding-bottom: 10px;
  }
  img {
    width: 100px
  }

}
