/* Footer design */

#footer {
  background-color: $blue-midnight;
  padding: 60px 0;
  border-bottom: 4px solid $yellow-carrot;
  i {
    font-size: 40px;
    color: $yellow-dark-carrot;
    padding-bottom: 5px;
    border-bottom: 4px solid;
    margin-left: 30px;
    letter-spacing: 10px;
    transition: 0.3s ease;
    &:hover {
      font-size: 42px;
      color: $yellow-carrot;
    }
  }
}
